@charset "UTF-8";
html, body {
  font-family: Montserrat;
}

* {
  font-family: Montserrat;
}

.overflow-hidden {
  overflow: hidden;
}

.header {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid #ccc;
}

@media (min-width: 576px) {
  .header {
    height: 43px;
  }
}

.header__phone {
  font-size: 13px;
  font-weight: 700;
}

@media (min-width: 374px) {
  .header__phone {
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  .header__phone {
    font-size: 18px;
  }
}

.header__phone a {
  color: #fff;
  padding: 2px 2px;
  margin-left: 2px;
  background-color: #21933C;
  text-decoration: none;
}

@media (min-width: 576px) {
  .header__phone a a {
    padding: 2px 3px;
    margin-left: 5px;
  }
}

.header__phone a:hover {
  color: #fff;
  text-decoration: underline;
}

.section {
  padding: 20px 0;
}

@media (min-width: 576px) {
  .section {
    padding: 30px 0;
  }
}

.section--rules {
  background-color: #5DB33A;
}

.section--day {
  background-color: #FFFAF1;
}

.section--warning {
  background: #EBEBEB;
}

.section--first {
  background-color: #F3F6FD;
}

.section--green {
  background-image: url("../img/bg_green.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section--yellow {
  background-color: #FFFAF1;
}

.section--transfer {
  background-image: url("../img/bg__transfer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section--gal {
  background-color: #F6F6F6;
}

@media (min-width: 1400px) {
  .section--gal {
    background-image: url("../img/gal_bg_sec.png");
    background-position-x: 100%;
    background-position-y: bottom;
    background-repeat: no-repeat;
  }
}

.section--v {
  background-image: url("../img/v__bg.png"), -webkit-gradient(linear, left top, left bottom, from(#324AC9), to(#000000));
  background-image: url("../img/v__bg.png"), linear-gradient(180deg, #324AC9 0%, #000000 100%);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  color: #fff;
  background-size: 200px, 100%;
}

@media (min-width: 992px) {
  .section--v {
    background-size: 500px, 100%;
  }
}

@media (min-width: 1600px) {
  .section--v {
    background-size: contain;
    background-position-x: left;
    background-position-y: bottom;
  }
}

.section--v2 {
  background-image: url("../img/v2__bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFFAF1;
}

.section--gift {
  background: #F6F6F6;
}

.section--def {
  background-color: #EDEDED;
}

.section--bi2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#3E4191), to(#000000));
  background: linear-gradient(180deg, #3E4191 0%, #000000 100%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section--bi2-2 {
  background: #0B2532;
}

.section--vip {
  background-image: url("../img/vip__bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section--step {
  background: -webkit-gradient(linear, left top, left bottom, from(#FAEBDB), to(#FFFFFF));
  background: linear-gradient(180deg, #FAEBDB 0%, #FFFFFF 100%);
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .section--step {
    padding-top: 50px;
  }
}

.section--speak {
  background-color: #084777;
  color: #fff;
  padding: 30px 0;
}

.v2__title {
  font-size: 22px;
  line-height: 1.2;
  color: #D61A0C;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 992px) {
  .v2__title {
    font-size: 34px;
  }
}

.v2__iframe {
  height: 220px;
}

@media (min-width: 576px) {
  .v2__iframe {
    height: 320px;
  }
}

@media (min-width: 768px) {
  .v2__iframe {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .v2__iframe {
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .v2__iframe {
    height: 300px;
  }
}

.v2__text {
  font-size: 16px;
  line-height: 1.2;
}

.v2__text b {
  font-weight: 600;
}

@media (min-width: 992px) {
  .v2__text {
    font-size: 22px;
  }
}

.gal__text {
  font-weight: 700;
  line-height: 1.2;
  font-size: 18px;
}

@media (min-width: 992px) {
  .gal__text {
    font-size: 22px;
  }
}

.gal__share {
  border: 1px solid #292B2C;
  padding: 10px;
  margin-bottom: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gal__share div {
  margin-left: 15px;
}

.gal__share div a {
  margin-right: 7px;
}

.gal__share div a:last-child {
  margin-right: 0;
}

.gal__wrap {
  padding: 5px !important;
}

.gal__wrap a {
  width: 100%;
}

.gal__wrap img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gal__albums {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.gal__album {
  font-size: 16px;
  text-decoration: underline;
  color: #000;
}

.gal__album:hover {
  text-decoration: none;
}

@media (min-width: 992px) {
  .gal__album {
    font-size: 18px;
  }
}

.v__text {
  font-size: 18px;
  line-height: 1.2;
}

@media (min-width: 992px) {
  .v__text {
    font-size: 26px;
  }
}

.v__text-b {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 700;
}

@media (min-width: 992px) {
  .v__text-b {
    font-size: 26px;
  }
}

.v__iframe {
  height: 220px;
}

@media (min-width: 576px) {
  .v__iframe {
    height: 300px;
  }
}

@media (min-width: 768px) {
  .v__iframe {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .v__iframe {
    height: 450px;
  }
}

@media (min-width: 1200px) {
  .v__iframe {
    height: 530px;
  }
}

.first__wrapper {
  border: 1px dashed #009529;
  border-radius: 2px;
  padding: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .first__wrapper {
    padding: 20px;
    padding-right: 220px;
  }
}

@media (min-width: 992px) {
  .first__wrapper {
    padding-right: 100px;
  }
}

.first__text {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}

@media (min-width: 576px) {
  .first__text {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .first__text {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.first__signature {
  font-weight: 400;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.2;
}

.first__signature br {
  display: block;
}

@media (min-width: 576px) {
  .first__signature br {
    display: none;
  }
}

.first__signature img {
  display: block;
  margin-left: auto;
}

@media (min-width: 576px) {
  .first__signature img {
    display: inline-block;
    margin-left: initial;
  }
}

@media (min-width: 576px) {
  .first__signature {
    font-size: 18px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.first__img {
  position: absolute;
  right: -10%;
  bottom: -2px;
  font-size: 0;
  width: 200px;
  display: none;
}

@media (min-width: 576px) {
  .first__img {
    width: 300px;
    right: -17%;
  }
}

@media (min-width: 768px) {
  .first__img {
    width: 400px;
    right: -20%;
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .first__img {
    width: 430px;
    right: -19%;
  }
}

@media (min-width: 1200px) {
  .first__img {
    width: 524px;
    right: -19%;
  }
}

.cta {
  color: #fff;
  text-align: center;
}

.cta__title {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 1px;
}

@media (min-width: 576px) {
  .cta__title {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .cta__title {
    font-size: 44px;
    font-style: 2px;
  }
}

.cta__time {
  font-weight: 400;
  font-size: 20px;
  background-color: #FF0000;
  padding: 2px 10px;
  margin-bottom: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1px;
}

@media (min-width: 576px) {
  .cta__time {
    padding: 5px 10px;
    font-size: 24px;
    margin-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .cta__time {
    font-size: 50px;
    font-style: 2px;
  }
}

.cta__address {
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.2;
}

@media (min-width: 576px) {
  .cta__address {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .cta__address {
    font-size: 34px;
    font-style: 2px;
  }
}

.cta__address b {
  font-weight: 700;
  display: block;
}

@media (min-width: 576px) {
  .cta__address b {
    display: inline-block;
  }
}

.info__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.info__time {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .info__time {
    font-size: 30px;
  }
}

.info__red {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  color: red;
  margin-bottom: 20px;
  margin-top: 10px;
}

@media (min-width: 992px) {
  .info__red {
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
}

.info__green {
  font-size: 18px;
  line-height: 1.1;
  color: #009529;
  font-weight: 700;
  margin-top: 30px;
}

@media (min-width: 992px) {
  .info__green {
    font-size: 22px;
    margin-top: 50px;
  }
}

.info__warning {
  color: red;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
}

@media (min-width: 992px) {
  .info__warning {
    font-size: 24px;
  }
}

.info__card {
  color: #fff;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .info__card {
    padding-bottom: 30px;
  }
}

.info__card-title {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: 700;
}

@media (min-width: 992px) {
  .info__card-title {
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.info__card-pretitle {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.2;
}

@media (min-width: 992px) {
  .info__card-pretitle {
    font-size: 20px;
    width: 80%;
    margin-bottom: 30px;
  }
}

.info__card-img {
  position: relative;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .info__card-img {
    position: absolute;
    right: -15px;
    bottom: 0;
    margin: 20px auto 15px auto;
  }
}

@media (min-width: 992px) {
  .info__card-img {
    right: 30px;
  }
}

@media (min-width: 1200px) {
  .info__card-img {
    right: 100px;
  }
}

.info__card-list {
  margin: 0;
  padding: 0;
  padding-left: 16px;
  width: 100%;
}

@media (min-width: 768px) {
  .info__card-list {
    width: 61%;
  }
}

.info__card-list:after {
  content: 'и многое другое!';
  display: block;
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 10px;
}

@media (min-width: 992px) {
  .info__card-list:after {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .info__card-list {
    padding-left: 18px;
  }
}

.info__card-list li {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 5px;
}

@media (min-width: 992px) {
  .info__card-list li {
    font-size: 18px;
  }
}

.info__card-info {
  font-size: 16px;
  line-height: 1.2;
  color: yellow;
  font-weight: 700;
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  .info__card-info {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.info__doc {
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 15px;
  line-height: 1.2;
}

.info__logo {
  max-width: 212px;
}

@media (min-width: 576px) {
  .info__logo {
    max-width: 350px;
  }
}

.info__bottom {
  padding: 10px 0;
  position: relative;
}

@media (min-width: 576px) {
  .info__bottom {
    padding: 10px 0;
  }
}

@media (min-width: 768px) {
  .info__bottom {
    padding: 80px 0;
  }
}

@media (min-width: 992px) {
  .info__bottom {
    padding: 100px 0;
  }
}

.info__bottom-img {
  position: absolute;
  bottom: -10px;
  left: -35px;
  width: 350px;
  display: none;
}

@media (min-width: 576px) {
  .info__bottom-img {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .info__bottom-img {
    width: 450px;
    left: -30px;
  }
}

@media (min-width: 992px) {
  .info__bottom-img {
    left: -50px;
    width: 564px;
  }
}

.info__bottom-img--2 {
  position: absolute;
  bottom: -10px;
  left: -35px;
  display: none;
}

@media (min-width: 576px) {
  .info__bottom-img--2 {
    display: inline-block;
    width: 330px;
  }
}

@media (min-width: 768px) {
  .info__bottom-img--2 {
    left: -30px;
    width: initial;
  }
}

@media (min-width: 992px) {
  .info__bottom-img--2 {
    left: -50px;
  }
}

.info__title {
  color: #5DB33A;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.info__title.text-white {
  text-align: center;
}

@media (min-width: 992px) {
  .info__title.text-white {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .info__title {
    font-size: 34px;
  }
}

@media (min-width: 1200px) {
  .info__title {
    font-size: 40px;
  }
}

.info__title--orange {
  color: #F39200;
}

.info__title-small {
  color: #5DB33A;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.2;
}

@media (min-width: 992px) {
  .info__title-small {
    font-size: 22px;
  }
}

.info__list {
  margin-top: 0;
  padding-left: 16px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .info__list--new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0 !important;
    margin-top: 10px !important;
  }
}

.info__list--new li {
  text-align: left !important;
}

@media (min-width: 768px) {
  .info__list--new li {
    text-align: center !important;
    display: list-item;
    list-style-type: disc !important;
  }
  .info__list--new li:first-child {
    margin-left: 18px;
  }
}

.info__list.text-white {
  padding-left: 0;
}

@media (min-width: 992px) {
  .info__list.text-white {
    padding-left: 18px;
  }
}

@media (min-width: 992px) {
  .info__list {
    padding-left: 18px;
  }
}

.info__list-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 5px;
}

.info__list-item.text-white {
  text-align: center;
  list-style-type: none;
}

@media (min-width: 992px) {
  .info__list-item.text-white {
    text-align: left;
    list-style-type: circle;
  }
}

@media (min-width: 992px) {
  .info__list-item {
    font-size: 18px;
    margin-bottom: 7px;
  }
}

.info__list-item b {
  font-weight: 700;
}

.swiper-container {
  margin-top: 30px;
}

.swiper-slide {
  text-align: center;
}

.swiper-slide img {
  width: 78%;
}

.swiper-button-prev {
  background-image: url("../img/arrow_left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: 0 !important;
}

.swiper-button-prev:after {
  content: none !important;
}

.swiper-button-next {
  background-image: url("../img/arrow_right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  right: 0 !important;
}

.swiper-button-next:after {
  content: none !important;
}

.bi2__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bi2__spec {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 5px;
}

@media (min-width: 992px) {
  .bi2__spec {
    font-size: 18px;
  }
}

.bi2__group {
  font-weight: 800;
  font-size: 22px;
  line-height: 1;
}

.bi2__group-min {
  font-weight: 700;
}

@media (min-width: 992px) {
  .bi2__group {
    font-size: 36px;
  }
}

.bi2__logo {
  margin-bottom: 15px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

@media (min-width: 992px) {
  .bi2__logo {
    width: 360px;
    margin-top: 0;
  }
}

.bi2__youtube {
  margin-bottom: 20px;
  max-width: 100%;
}

.bi2__free {
  background-image: url("../img/free_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: 800;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .bi2__free {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .bi2__free {
    font-size: 28px;
    padding: 0 20px;
    margin-bottom: 100px;
  }
}

.bi2__img {
  display: none;
}

@media (min-width: 992px) {
  .bi2__img {
    width: 100%;
    display: inline-block;
  }
}

.vip__duration {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  color: #ff0000;
  text-align: center;
}

@media (min-width: 576px) {
  .vip__duration {
    font-size: 26px;
  }
}

.vip__codes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vip__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .vip__soc {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.vip__soc a {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (min-width: 768px) {
  .vip__soc a {
    max-width: calc(50% - 15px);
  }
}

.vip__soc img {
  width: 100%;
}

.vip--1, .vip--2, .vip--3 {
  position: relative;
}

.vip--1:after, .vip--2:after, .vip--3:after {
  content: "1";
  position: absolute;
  left: -15px;
  font-size: 24px;
  font-weight: 800;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 50px;
}

@media (min-width: 576px) {
  .vip--1:after, .vip--2:after, .vip--3:after {
    content: "Шаг 1";
    left: -25px;
    font-size: 14px;
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 992px) {
  .vip--1:after, .vip--2:after, .vip--3:after {
    left: -45px;
    font-size: 24px;
    width: 90px;
    height: 90px;
  }
}

@media (min-width: 768px) {
  .vip--1 {
    padding-left: 60px !important;
  }
}

.vip--2:after {
  content: '2';
}

@media (min-width: 576px) {
  .vip--2:after {
    content: "Шаг 2";
  }
}

.vip__soc {
  margin-top: 20px;
}

.vip__title {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.2;
}

@media (min-width: 992px) {
  .vip__title {
    font-size: 30px;
  }
}

.vip__title span {
  color: #009529;
}

.vip__desc {
  color: #009529;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

@media (min-width: 992px) {
  .vip__desc {
    font-size: 28px;
  }
}

.vip__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .vip__wrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.vip__counter {
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  color: #fff;
  padding: 10px 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .vip__counter {
    width: 35%;
  }
}

@media (min-width: 992px) {
  .vip__counter {
    padding: 15px 30px;
  }
}

.vip__counter-number {
  opacity: 0;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 6px;
  background: rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0 30px;
  margin-top: 10px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .vip__counter-number {
    font-size: 28px;
    letter-spacing: 6px;
  }
}

@media (min-width: 768px) {
  .vip__counter-number {
    font-size: 34px;
    letter-spacing: 8px;
    width: initial;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .vip__counter-number {
    font-size: 45px;
    letter-spacing: 10px;
  }
}

@media (min-width: 1200px) {
  .vip__counter-number {
    font-size: 65px;
    letter-spacing: 15px;
  }
}

.vip__counter-text {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 600;
}

.vip__counter-count {
  margin-top: 15px;
}

.vip__counter-count span {
  font-size: 65px;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0 5px;
  margin-top: -5px;
  line-height: 1;
  height: 100%;
  display: inline-block;
  margin-right: 7px;
}

.vip__counter-count span:last-child {
  margin-right: 0;
}

.vip__pretitle {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #009529;
  border: 1px dashed #009529;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 3px;
  width: 100%;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .vip__pretitle {
    padding: 0 74px;
    width: initial;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .vip__pretitle {
    font-size: 36px;
    padding: 0 20px;
  }
}

@media (min-width: 1200px) {
  .vip__pretitle {
    padding: 0 70px;
  }
}

.vip__pretitle b {
  font-weight: 700;
  color: #000;
  padding-left: 7px;
}

.vip__row {
  border: 1px dashed #000;
  border-radius: 14px;
  padding: 15px 10px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .vip__row {
    padding: 15px 10px 15px 40px;
  }
}

.vip__row.vip--1 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px !important;
}

@media (min-width: 768px) {
  .vip__row.vip--1 {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 35px !important;
  }
}

.vip__row.vip--2 {
  padding-left: 20px;
  height: auto;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 576px) {
  .vip__row.vip--2 {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 230px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .vip__row.vip--2 {
    height: 180px;
    padding-left: 30px;
  }
}

@media (min-width: 992px) {
  .vip__row.vip--2 {
    height: 200px;
    padding-left: 80px;
    margin-bottom: 70px;
  }
}

.vip__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .vip__text {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}

.vip__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vip__sub {
  background: #FFC400;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.vip__sub:hover {
  background-color: #d6a400;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 992px) {
  .vip__sub {
    padding: 10px 30px;
  }
}

.vip__qr img {
  width: 130px;
}

@media (min-width: 576px) {
  .vip__qr img {
    width: 150px;
  }
}

.vip__share {
  width: 250px;
  margin-top: 15px;
}

@media (min-width: 576px) {
  .vip__share {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .vip__share {
    margin-right: 35px;
  }
}

@media (min-width: 992px) {
  .vip__share {
    width: initial;
  }
}

.vip__btn {
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  padding: 6px 10px;
  background-color: #FE1D3D;
  -webkit-box-shadow: 0px 4px 4px #FFFFFF;
          box-shadow: 0px 4px 4px #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

.vip__btn--small {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 16px !important;
}

.vip__btn.vip--3:after {
  color: #000;
  content: '3';
  top: calc(50% - 15px);
  left: -35px;
}

@media (min-width: 576px) {
  .vip__btn.vip--3:after {
    content: "Шаг 3";
    top: calc(50% - 25px);
    left: -70px;
  }
}

@media (min-width: 992px) {
  .vip__btn.vip--3:after {
    content: "Шаг 3";
    top: calc(50% - 45px);
    left: -120px;
  }
}

.vip__btn:hover {
  background-color: #ce1731;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 576px) {
  .vip__btn {
    letter-spacing: 1px;
    font-size: 18px;
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .vip__btn {
    font-size: 24px;
    padding: 18px 25px;
  }
}

.vip__info {
  font-size: 16px;
  text-align: center;
  line-height: 1;
}

@media (min-width: 992px) {
  .vip__info {
    font-size: 18px;
  }
}

.vip__info b {
  font-weight: 700;
}

.transfer__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: #084777;
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .transfer__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .transfer__title {
    font-size: 34px;
  }
}

.transfer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

@media (min-width: 576px) {
  .transfer__text {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .transfer__text {
    font-size: 24px;
  }
}

.transfer__table {
  background-color: #fff;
  width: 100%;
  min-width: 500px;
}

.transfer__table-wrap {
  margin-top: 30px;
  overflow-x: scroll;
  position: relative;
}

.transfer__table th, .transfer__table td {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  padding: 10px;
  border: 1px solid #000;
}

@media (min-width: 576px) {
  .transfer__table th, .transfer__table td {
    font-size: 20px;
    padding: 15px;
  }
}

@media (min-width: 992px) {
  .transfer__table th, .transfer__table td {
    font-size: 24px;
    padding: 40px 15px;
  }
}

.transfer__table td {
  padding: 40px 15px;
  border: 1px solid #000;
}

@media (min-width: 576px) {
  .transfer__table td {
    padding: 80px 15px;
  }
}

.footer {
  padding: 30px 0;
  background-color: #094979;
  color: #fff;
}

.footer__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
}

@media (min-width: 992px) {
  .footer__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.footer__item {
  text-align: center;
  margin-bottom: 30px;
}

.footer__item-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item img {
  max-width: 130px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 576px) {
  .footer__item img {
    max-width: initial;
  }
}

.footer__item-links {
  margin-left: 20px;
}

@media (min-width: 576px) {
  .footer__item-links {
    margin-left: 40px;
  }
}

.footer__item-links a {
  display: block;
  margin-top: 15px;
}

.footer__item-links a:first-child {
  margin-top: 0;
}

.footer__item-links a:first-child img {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

@media (min-width: 576px) {
  .footer__item-links a:first-child img {
    -webkit-transform: none;
            transform: none;
  }
}

.footer__item-text {
  margin-top: 10px;
  font-size: 16px;
  font-style: italic;
}

@media (min-width: 768px) {
  .footer__item-text {
    margin-top: 15px;
  }
}

.footer__item-text span {
  font-size: 12px;
}

.popup {
  width: 300px;
  background-color: #fff;
  z-index: 4;
  padding: 15px;
  border-radius: 16px;
  position: fixed;
  display: none;
  top: 30px !important;
  left: calc(50% - 150px) !important;
  text-align: center;
  overflow-y: scroll;
  max-height: calc(100% - 60px);
}

.popup__delete {
  margin-bottom: 10px;
  color: #ff0000;
  text-align: right;
  font-size: 25px;
  cursor: pointer;
}

.popup__line {
  margin-bottom: 20px;
  border-color: #FF0000;
}

.popup__add {
  color: #ff0000;
  font-weight: 700;
  margin-bottom: 20px;
  cursor: pointer;
  line-height: 1.2;
}

@media (min-width: 576px) {
  .popup {
    width: 480px;
    top: 50px !important;
    left: calc(50% - 240px) !important;
    max-height: calc(100% - 100px);
  }
}

.popup__wrapper {
  border: 1px dashed #CFAE69;
  border-radius: 16px;
  padding: 15px;
}

@media (min-width: 576px) {
  .popup__wrapper {
    padding: 40px 30px;
  }
}

.popup__title {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 15px;
  line-height: 1.1;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .popup__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.popup input[type="text"] {
  width: 100%;
  background: rgba(196, 196, 196, 0.15);
  border-radius: 10px;
  height: 40px;
  border: none;
  padding-left: 10px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

@media (min-width: 576px) {
  .popup input[type="text"] {
    height: 46px;
    margin-bottom: 20px;
    font-size: 24px;
  }
}

.popup input[type="text"]::-webkit-input-placeholder {
  color: #666;
  font-weight: 400;
  font-size: 16px;
}

.popup input[type="text"]:-ms-input-placeholder {
  color: #666;
  font-weight: 400;
  font-size: 16px;
}

.popup input[type="text"]::-ms-input-placeholder {
  color: #666;
  font-weight: 400;
  font-size: 16px;
}

.popup input[type="text"]::placeholder {
  color: #666;
  font-weight: 400;
  font-size: 16px;
}

@media (min-width: 576px) {
  .popup input[type="text"]::-webkit-input-placeholder {
    font-size: 24px;
  }
  .popup input[type="text"]:-ms-input-placeholder {
    font-size: 24px;
  }
  .popup input[type="text"]::-ms-input-placeholder {
    font-size: 24px;
  }
  .popup input[type="text"]::placeholder {
    font-size: 24px;
  }
}

.popup input[type="submit"] {
  cursor: pointer;
  border: none;
  background-color: #B79653;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 576px) {
  .popup input[type="submit"] {
    width: 300px;
    height: 55px;
    font-size: 24px;
  }
}

.popup input[type="submit"]:hover {
  background-color: #a08346;
}

.popup__text {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 15px;
}

@media (min-width: 576px) {
  .popup__text {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.popup__address {
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 500;
  font-size: 14px;
}

@media (min-width: 576px) {
  .popup__address {
    font-size: 20px;
  }
}

#mask {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: none;
  cursor: pointer;
}

/* для элемента input c type="checkbox" */
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 12px;
}

@media (min-width: 576px) {
  .custom-checkbox + label {
    font-size: 16px;
  }
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #B79653;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked + label::before {
  border-color: #B79653;
  background-color: #B79653;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.checkbox {
  margin-bottom: 1em;
  cursor: pointer;
}

.checkbox a {
  color: #000;
  text-decoration: underline;
  padding-left: 18px;
}

@media (min-width: 576px) {
  .checkbox a {
    padding-left: 25px;
  }
}

.checkbox a:hover {
  color: #000;
  text-decoration: none;
}

.select {
  position: relative;
  margin-bottom: 20px;
}

.selectWrapper {
  position: relative;
}

.selectCustom {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
}

@media (min-width: 576px) {
  .selectCustom {
    width: 300px;
    height: 39px;
  }
}

.selectCustom-trigger {
  font-size: 16px;
  background-color: #EBD8B7 !important;
  border: 1px solid #EBD8B7;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 7px;
  -webkit-transition: .3s;
  transition: .3s;
}

.selectCustom-trigger::after {
  content: "▾";
  position: absolute;
  top: 0;
  line-height: 36px;
  right: 15px;
}

.selectCustom-trigger:hover {
  border-color: #B79653;
}

.selectCustom-options {
  position: absolute;
  top: 39px;
  left: 0;
  width: 100%;
  border: 1px solid #B79653;
  border-radius: 10px;
  background-color: #fff;
  z-index: 1;
  display: none;
}

.selectCustom.isActive .selectCustom-options {
  display: block;
}

.selectCustom-option {
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #fff;
  border-radius: 10px;
}

.selectCustom-option:hover {
  background-color: #EBD8B7;
}

.selectCustom-option:not(:last-of-type)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.8rem;
  width: calc(100% - 1.6rem);
  border-bottom: 1px solid #d3d3d3;
}

.gift__title {
  font-size: 22px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 30px;
  text-transform: uppercase;
  margin-top: 10px;
}

@media (min-width: 992px) {
  .gift__title {
    font-size: 36px;
    margin-bottom: 35px;
  }
}

.gift__text {
  font-size: 16px;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .gift__text {
    font-size: 22px;
    line-height: 1.1;
    margin-bottom: 50px;
  }
}

.gift__text b {
  font-weight: 700;
}

.gift__citys {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  list-style-type: none;
}

@media (min-width: 992px) {
  .gift__citys {
    margin-bottom: 50px;
  }
}

.gift__citys li {
  font-size: 14px;
  color: #009328;
  line-height: 1.2;
  margin-bottom: 5px;
  word-break: break-word;
}

@media (min-width: 576px) {
  .gift__citys li {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .gift__citys li {
    font-size: 22px;
  }
}

.gift__info {
  font-size: 18px;
  line-height: 1.2;
}

@media (min-width: 992px) {
  .gift__info {
    font-size: 22px;
  }
}

.gift__img {
  position: absolute;
  right: -20px;
  width: 150px;
  top: 60px;
}

@media (min-width: 576px) {
  .gift__img {
    width: 180px;
    top: 47px;
  }
}

@media (min-width: 768px) {
  .gift__img {
    top: 70px;
    width: initial;
  }
}

@media (min-width: 992px) {
  .gift__img {
    right: 40px;
  }
}

@media (min-width: 1200px) {
  .gift__img {
    right: 100px;
  }
}

.gift__table {
  font-size: 14px;
  width: 100%;
  background-color: #fff;
  min-width: 460px;
}

.gift__table-container {
  overflow-x: auto;
}

.gift__table th {
  background-color: #E5E5E5;
  font-weight: 700;
  border: 1px solid #828282;
  padding: 7px 10px;
  line-height: 1.2;
}

.gift__table td {
  border: 1px solid #828282;
  padding: 7px 10px;
  line-height: 1.2;
}

.step {
  margin-bottom: 30px;
}

.step__info {
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  margin-top: 30px;
  line-height: 1;
}

@media (min-width: 576px) {
  .step__info {
    font-size: 18px;
  }
}

.step__title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .step__title {
    font-size: 26px;
  }
}

.step__wrap {
  background-color: #E6021F;
  color: #fff;
  padding: 50px 10px 30px 10px;
  position: relative;
}

@media (min-width: 576px) {
  .step__wrap {
    padding: 70px 10px 20px 10px;
    height: 170px;
  }
}

@media (min-width: 768px) {
  .step__wrap {
    padding: 90px 10px 20px 10px;
  }
}

@media (min-width: 992px) {
  .step__wrap {
    padding: 140px 10px 50px 10px;
    height: 250px;
  }
}

.step__num {
  font-size: 35px;
  font-weight: 900;
  position: absolute;
  left: 25px;
  top: 15px;
  line-height: 1;
}

@media (min-width: 576px) {
  .step__num {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .step__num {
    font-size: 60px;
    left: 15px;
  }
}

@media (min-width: 992px) {
  .step__num {
    font-size: 85px;
  }
}

.step__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
}

@media (min-width: 992px) {
  .step__text {
    font-size: 24px;
  }
}

.step__img {
  margin-bottom: 10px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 347px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .step__img {
    height: 99px;
  }
}

@media (min-width: 768px) {
  .step__img {
    height: 139px;
  }
}

@media (min-width: 992px) {
  .step__img {
    height: 192px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .step__img {
    height: 230px;
  }
}

.ask {
  line-height: 1.2;
}

.ask--green {
  color: #009529;
  font-weight: 600;
}

.ask__title {
  font-size: 20px;
  color: #009529;
  text-align: center;
  font-weight: 700;
}

@media (min-width: 768px) {
  .ask__title {
    font-size: 28px;
  }
}

#js-new-person--2, #js-new-person--3, #js-new-person--4, #js-new-person--5 {
  display: none;
}

.speak__title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 1.1;
  text-align: center;
}

@media (min-width: 768px) {
  .speak__title {
    font-size: 26px;
    margin-bottom: 26px;
  }
}

@media (min-width: 992px) {
  .speak__title {
    font-size: 36px;
  }
}

.speak__left {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.speak__left div {
  background-color: #FF0000;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
  color: #fff;
  margin-top: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.speak__text p {
  padding: 7px 10px;
  border: 2px dashed #FF0000;
  border-radius: 15px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 16px;
}

@media (min-width: 992px) {
  .speak__text p {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .speak__text p {
    font-size: 18px;
    padding: 10px 20px;
  }
}

.speak__text .vip__btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.speak__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.speak__right img {
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 420px) {
  .speak__right img {
    height: 190px;
  }
}

@media (min-width: 992px) {
  .speak__right {
    display: block;
  }
  .speak__right img {
    height: initial;
  }
}

.speak__right a > img {
  margin-bottom: 8px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.speak__right .speak__docs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.speak__right .speak__docs a {
  font-size: 0;
  width: 50%;
}

.speak__right .speak__docs a img {
  font-size: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.warn__title {
  font-weight: 700;
  font-size: 22px;
  color: red;
  line-height: 1.2;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) {
  .warn__title {
    font-size: 28px;
  }
}

@media (min-width: 992px) {
  .warn__title {
    font-size: 36px;
  }
}

.warn__desc {
  font-size: 16px;
  line-height: 1.1;
  margin-bottom: 40px;
  text-align: center;
  color: red;
  font-weight: 700;
}

@media (min-width: 992px) {
  .warn__desc {
    font-size: 24px;
  }
}

.warn__btn {
  margin-top: 30px;
}

.warn__text {
  border: 1px dashed #FF0000;
  font-size: 16px;
  line-height: 1.2;
  padding: 15px;
  border-radius: 14px;
}

@media (min-width: 768px) {
  .warn__text {
    font-size: 18px;
    padding: 20px;
  }
}

.warn__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100px;
}

@media (min-width: 576px) {
  .warn__img {
    max-width: 150px;
  }
}

.def__title {
  color: #009529;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 30px;
  line-height: 1.2;
}

@media (min-width: 992px) {
  .def__title {
    font-size: 32px;
    margin-bottom: 50px;
  }
}

.def__text {
  font-size: 16px;
  line-height: 1.2;
}

@media (min-width: 992px) {
  .def__text {
    font-size: 22px;
  }
}

.def__btn {
  color: #fff;
  height: 30px;
  -webkit-box-shadow: 0px 4px 4px #FFFFFF;
          box-shadow: 0px 4px 4px #FFFFFF;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  outline: none !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.def__btn:hover {
  opacity: .85;
  color: #fff;
  text-decoration: none;
}

.def__btn--green {
  background-color: #009529;
}

.def__btn--red {
  background-color: #F43B45;
}

.def__img {
  max-width: 200px;
  width: 100%;
}

.ask span {
  color: #009529;
}

.rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .rules {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.rules__title {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  margin-bottom: 25px;
  text-align: center;
}

@media (min-width: 992px) {
  .rules__title {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.rules__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  width: 50%;
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .rules__item {
    width: 33.3333%;
  }
}

@media (min-width: 1200px) {
  .rules__item {
    min-width: 13.3333%;
    max-width: initial;
    margin-bottom: 0;
  }
}

.rules__item--big {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 1200px) {
  .rules__item--big {
    width: 100%;
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
}

.rules__item-img {
  margin-bottom: 15px;
  width: 75px;
  height: 75px;
  text-align: center;
}

@media (min-width: 1200px) {
  .rules__item-img {
    margin-bottom: 30px;
  }
}

.rules__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.rules__item-text {
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  text-align: center;
}

.ruleso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .ruleso {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.ruleso__title {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
  text-align: center;
  line-height: 1.1;
}

@media (min-width: 992px) {
  .ruleso__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.ruleso__desc {
  font-size: 18px;
  margin-bottom: 30px;
}

.ruleso__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  width: 100%;
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .ruleso__item {
    width: 33.3333%;
  }
}

@media (min-width: 992px) {
  .ruleso__item {
    width: 20%;
  }
}

.ruleso__item-img {
  margin-bottom: 7px;
  width: 105px;
  height: 105px;
  text-align: center;
}

.ruleso__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.ruleso__item-text {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
  line-height: 1;
}

@media (min-width: 768px) {
  .ruleso__item-text {
    height: 64px;
  }
}

@media (min-width: 992px) {
  .ruleso__item-text {
    height: 96px;
  }
}

@media (min-width: 1200px) {
  .ruleso__item-text {
    height: 64px;
  }
}

.ruleso__item-desc {
  font-size: 14px;
  line-height: 1;
  text-align: center;
}

.star__war {
  padding: 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 576px) {
  .star__war {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.star__war-text {
  font-size: 16px;
  color: #E6021F;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

@media (min-width: 576px) {
  .star__war-text {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .star__war-text {
    font-size: 32px;
  }
}

.star__war img {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .star__war img {
    width: 110px;
    height: 110px;
    margin-right: 30px;
  }
}

.star__t {
  font-weight: 700;
  line-height: 1;
  font-size: 18px;
}

@media (min-width: 992px) {
  .star__t {
    font-size: 22px;
  }
}

.star__title {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

@media (min-width: 992px) {
  .star__title {
    margin-top: 30px;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .star__title {
    font-size: 32px;
  }
}

.star__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.star__text {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
}

@media (min-width: 992px) {
  .star__text {
    font-size: 22px;
  }
}

.star__text span {
  color: green;
}

.star__schema {
  margin: 15px 0;
}

.star__schema img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.till {
  width: 100%;
  height: 100%;
  margin-top: 25px;
}

.till img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mod {
  width: 300px !important;
  padding: 15px !important;
}

@media (min-width: 768px) {
  .mod {
    width: 600px !important;
    padding: 44px !important;
  }
}

.mod h2 {
  color: #FF0000;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 15px;
  font-size: 22px;
}

@media (min-width: 768px) {
  .mod h2 {
    font-size: 32px;
  }
}

.translate {
  width: 100%;
  height: 250px;
}

@media (min-width: 576px) {
  .translate {
    height: 350px;
  }
}

@media (min-width: 768px) {
  .translate {
    height: 500px;
  }
}

@media (min-width: 992px) {
  .translate {
    height: 600px;
  }
}

@media (min-width: 1200px) {
  .translate {
    height: 700px;
  }
}

.translate__title {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .translate__title {
    font-size: 32px;
  }
}

.translate__button {
  font-weight: 700;
}

#translate1 {
  width: 90%;
  height: 90%;
}
/*# sourceMappingURL=main.css.map */