html, body {
    font-family: Montserrat;
}

* {
    font-family: Montserrat;
}

.overflow-hidden {
    overflow: hidden;
}

.header {
    height: 30px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #ccc;

    @media (min-width: 576px) {
        
        height: 43px;
    }

    &__phone {
        font-size: 13px;
        font-weight: 700;

        @media (min-width: 374px) {
            font-size: 14px;
        }

        @media (min-width: 576px) {
            
            font-size: 18px;
        }

        & a {
            color: #fff;
            padding: 2px 2px;
            margin-left: 2px;
            background-color: #21933C;
            text-decoration: none;

            @media (min-width: 576px) {
                
                & a {
                    padding: 2px 3px;
                    margin-left: 5px;
                }
            }

            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }
    }
}

.section {
    padding: 20px 0;

    @media (min-width: 576px) {
        padding: 30px 0;
    }

    &--rules {
        background-color: #5DB33A;
    }

    &--day {
        background-color: #FFFAF1;
    }

    &--warning {
        background: #EBEBEB;
    }

    &--first {
        background-color: #F3F6FD;
    }

    &--green {
        background-image: url('../img/bg_green.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &--yellow {
        background-color: #FFFAF1;
    }

    &--transfer {
        background-image: url('../img/bg__transfer.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &--gift {
        background: #F6F6F6;
    }

    &--def {
        background-color: #EDEDED;
    }

    &--bi2 {
        background: linear-gradient(180deg, #3E4191 0%, #000000 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &--bi2-2 {
        background: #0B2532;
    }

    &--vip {
        background-image: url('../img/vip__bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &--step {
        background: linear-gradient(180deg, #FAEBDB 0%, #FFFFFF 100%);
        padding-top: 30px;
        padding-bottom: 30px;

        @media (min-width: 768px) {
            padding-top: 50px;
        }
    }

    &--speak {
        background-color: #084777;
        color: #fff;
        padding: 30px 0;
    }
}

.first {

    &__wrapper {
        border: 1px dashed #009529;
        border-radius: 2px;
        padding: 15px;
        padding-right: 15px;

        @media (min-width: 768px) {
            padding: 20px;
            padding-right: 220px;
        }

        @media (min-width: 992px) {
            padding-right: 100px;
        }
    }

    &__text {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 1;
        font-weight: 500;

        @media (min-width: 576px) {
            font-size: 18px;
        }

        @media (min-width: 992px) {
            font-size: 24px;
            margin-bottom: 30px;
        }
    }

    &__signature {
        font-weight: 400;
        font-size: 14px;
        display: flex;
        align-items: flex-start;
        justify-content: initial;
        flex-wrap: wrap;
        line-height: 1.2;

        & br {
            display: block;

            @media (min-width: 576px) {
                display: none;
            }
        }

        & img {
            display: block;
            margin-left: auto;

            @media (min-width: 576px) {
                display: inline-block;
                margin-left: initial;
            }
        }

        @media (min-width: 576px) {
            font-size: 18px;
            justify-content: flex-end;
        }
    }

    &__img {
        position: absolute;
        right: -10%;
        bottom: -2px;
        font-size: 0;
        width: 200px;
        display: none;

        @media (min-width: 576px) {
            width: 300px;
            right: -17%;
        }

        @media (min-width: 768px) {
            width: 400px;
            right: -20%;
            display: inline-block;
        }

        @media (min-width: 992px) {
            width: 480px;
            right: -18%;
        }

        @media (min-width: 1200px) {
            width: 524px;
            right: -19%;
        }
    }
}

.cta {
    color: #fff;
    text-align: center;

    &__title {
        font-size: 26px;
        font-weight: 900;
        line-height: 1;
        margin-bottom: 15px;
        letter-spacing: 1px;

        @media (min-width: 576px) {
            font-size: 35px;
            margin-bottom: 20px;
        }

        @media (min-width: 992px) {
            font-size: 50px;
            font-style: 2px;
        }
    }

    &__time {
        font-weight: 400;
        font-size: 20px;
        background-color: #FF0000;
        padding: 2px 10px;
        margin-bottom: 10px;
        display: inline-flex;
        justify-content: center;
        letter-spacing: 1px;

        @media (min-width: 576px) {
            padding: 5px 10px;
            font-size: 24px;
            margin-bottom: 15px;
        }

        @media (min-width: 992px) {
            font-size: 50px;
            font-style: 2px;
        }
    }

    &__address {
        font-weight: 200;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 1.2;

        @media (min-width: 576px) {
            font-size: 24px;
            margin-bottom: 10px;
        }

        @media (min-width: 992px) {
            font-size: 34px;
            font-style: 2px;
        }

        & b {
            font-weight: 700;
            display: block;

            @media (min-width: 576px) {
                display: inline-block;
            }
        }
    }
}

.info {

    &__new {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__time {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;

        @media (min-width: 992px) {
            font-size: 30px;
        }
    }

    &__red {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.1;
        color: red;
        margin-bottom: 20px;
        margin-top: 10px;

        @media (min-width: 992px) {
            font-size: 24px;
            margin-bottom: 30px;
            margin-top: 20px;
        }
    }

    &__green {
        font-size: 18px;
        line-height: 1.1;
        color: #009529;
        font-weight: 700;
        margin-top: 30px;

        @media (min-width: 992px) {
            font-size: 22px;
            margin-top: 50px;
        }
    }

    &__warning {
        color: red;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 700;
        text-align: center;
        line-height: 1.2;

        @media (min-width: 992px) {
            font-size: 24px;
        }
    }

    &__time {

    }

    &__card {
        color: #fff;
        position: relative;
        padding-bottom: 0;
        margin-bottom: 15px;

        @media (min-width: 768px) {
            padding-bottom: 30px;
        }

        &-title {
            font-size: 18px;
            line-height: 1.2;
            margin-bottom: 10px;
            font-weight: 700;

            @media (min-width: 992px) {
                font-size: 24px;
                margin-bottom: 25px;
            }
        }

        &-pretitle {
            font-size: 18px;
            margin-bottom: 20px;
            font-weight: 700;
            line-height: 1.2;

            @media (min-width: 992px) {
                font-size: 20px;
                width: 80%;
                margin-bottom: 30px;
            }
        }

        &-img {
            position: relative;
            max-width: 300px;
            display: block;
            margin: 0 auto;
            width: 100%;

            @media (min-width: 768px) {
                position: absolute;
                right: -15px;
                bottom: 0;
                margin: 20px auto 15px auto;
            }

            @media (min-width: 992px) {
                right: 30px;
            }

            @media (min-width: 1200px) {
                right: 100px;
            }
        }

        &-list {
            margin: 0;
            padding: 0;
            padding-left: 16px;
            width: 100%;

            @media (min-width: 768px) {
                width: 61%;
            }

            &:after {
                content: 'и многое другое!';
                display: block;
                font-size: 16px;
                margin-bottom: 30px;
                margin-top: 10px;

                @media (min-width: 992px) {
                    font-size: 18px;
                }
            }

            @media (min-width: 992px) {
                padding-left: 18px;
            }

            & li {
                font-size: 16px;
                line-height: 1.2;
                margin-bottom: 5px;

                @media (min-width: 992px) {
                    font-size: 18px;
                }
            }
        }

        &-info {
            font-size: 16px;
            line-height: 1.2;
            color: yellow;
            font-weight: 700;
            margin-bottom: 15px;

            @media (min-width: 992px) {
                font-size: 20px;
                margin-bottom: 30px;
            }
        }
    }

    &__doc {
        text-decoration: underline;
        cursor: pointer;
        text-align: center;
        font-weight: 700;
        margin-bottom: 30px;
        margin-top: 15px;
        line-height: 1.2;
    }

    &__logo {
        max-width: 212px;

        @media (min-width: 576px) {
            max-width: 350px;
        }
    }

    &__bottom {
        padding: 10px 0;
        position: relative;

        @media (min-width: 576px) {
            padding: 10px 0;
        }
        
        @media (min-width: 768px) {
            padding: 80px 0;
        }

        @media (min-width: 992px) {
            padding: 100px 0;
        }

        &-img {
            position: absolute;
            bottom: -10px;
            left: -35px;
            width: 350px;
            display: none;

            @media (min-width: 576px) {
                display: inline-block;
            }

            @media (min-width: 768px) {
                width: 450px;
                left: -30px;
            }

            @media (min-width: 992px) {
                left: -50px;
                width: 564px;
            }
        }

        &-img--2 {
            position: absolute;
            bottom: -10px;
            left: -35px;
            display: none;

            @media (min-width: 576px) {
                display: inline-block;
                width: 330px;
            }

            @media (min-width: 768px) {
                left: -30px;
                width: initial;
            }

            @media (min-width: 992px) {
                left: -50px;
            }
        }
    }

    &__title {
        color: #5DB33A;
        font-weight: 700;
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 10px;

        &.text-white {
            text-align: center;

            @media (min-width: 992px) {
                text-align: left;
            }
        }

        @media (min-width: 992px) {
            font-size: 34px;
        }

        @media (min-width: 1200px) {
            font-size: 40px;
        }

        &--orange {
            color: #F39200
        }

        &-small {
            color: #5DB33A;
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 20px;
            line-height: 1.2;

            @media (min-width: 992px) {
                font-size: 22px;
            }
        }
    }

    &__list {
        margin-top: 0;
        padding-left: 16px;
        margin-bottom: 15px;

        &--new {

            @media (min-width: 768px) {

                display: flex;
                justify-content: space-between;
                padding-left: 0 !important;
                margin-top: 10px !important;
            }

            & li {
                text-align: left !important;

                @media (min-width: 768px) {
                    text-align: center !important;
                    display: list-item;
                    list-style-type: disc !important;

                    &:first-child {
                        margin-left: 18px;
                    }
                }
            }
        }

        &.text-white {
            padding-left: 0;

            @media (min-width: 992px) {
                padding-left: 18px;
            }
        }

        @media (min-width: 992px) {
            padding-left: 18px;
        }

        &-item {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 5px;

            &.text-white {
                text-align: center;
                list-style-type: none;
    
                @media (min-width: 992px) {
                    text-align: left;
                    list-style-type: circle;
                }
            }

            @media (min-width: 992px) {
                font-size: 18px;
                margin-bottom: 7px;
            }

            & b {
                font-weight: 700;
            }
        }
    }
}

.swiper-container {
    margin-top: 30px;
}

.swiper-slide {
    text-align: center;

    & img {
        width: 78%;
    }
}

.swiper-button-prev {
    background-image: url('../img/arrow_left.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 0 !important;

    &:after {
        content: none !important;
    }
}

.swiper-button-next {
    background-image: url('../img/arrow_right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    right: 0 !important;

    &:after {
        content: none !important;
    }
}

.bi2 {

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__spec {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 5px;

        @media (min-width: 992px) {
            font-size: 18px;
        }
    }

    &__group {
        font-weight: 800;
        font-size: 22px;
        line-height: 1;

        &-min {
            font-weight: 700;
        }

        @media (min-width: 992px) {
            font-size: 36px;
        }
    }

    &__logo {
        margin-bottom: 15px;
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;

        @media (min-width: 992px) {
            width: 360px;
            margin-top: 0;
        }
    }

    &__youtube {
        margin-bottom: 20px;
        max-width: 100%;
    }

    &__free {
        background-image: url('../img/free_bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-weight: 800;
        display: inline-block;
        text-transform: uppercase;
        padding: 0 15px;
        font-size: 17px;
        margin-bottom: 20px;

        @media (min-width: 576px) {
            font-size: 20px;
        }

        @media (min-width: 992px) {
            font-size: 28px;
            padding: 0 20px;
            margin-bottom: 100px;
        }
    }

    &__img {
        display: none;

        @media (min-width: 992px) {
            width: 100%;
            display: inline-block;
        }
    }
}

.vip {

    &__duration {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.1;
        color: #ff0000;
        text-align: center;

        @media (min-width: 576px) {
            font-size: 26px;
        }
    }

    &__codes {
        display: flex;
    }

    &__soc {
        display: flex;
        flex-wrap: wrap;

        @media (min-width: 768px) {
            flex-wrap: nowrap;            
        }

        & a {
            max-width: 200px;
            margin-left: auto;
            margin-right: auto;
            display: block;

            @media (min-width: 768px) {
                max-width: calc(50% - 15px);        
            }
        }

        & img {
            width: 100%;
        }
    }

    &--1, &--2, &--3 {
        position: relative;

        &:after {
            content: "1";
            position: absolute;
            left: -15px;
            font-size: 24px;
            font-weight: 800;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-radius: 50px;

            @media (min-width: 576px) {
                content: "Шаг 1";
                left: -25px;
                font-size: 14px;
                width: 50px;
                height: 50px;
            }

            @media (min-width: 992px) {
                left: -45px;
                font-size: 24px;
                width: 90px;
                height: 90px;
            }
        }
    }

    &--1 {

        @media (min-width: 768px) {
            padding-left: 60px !important;
        }
    }

    &--2 {

        &:after {

            content: '2';

            @media (min-width: 576px) {
                content: "Шаг 2";
            }
        }
    }
    
    &__soc {
        margin-top: 20px;
    }

    &__title {
        font-weight: 800;
        font-size: 20px;
        text-transform: uppercase;
        line-height: 1.2;

        @media (min-width: 992px) {
            font-size: 30px;
        }

        & span {
            color: #009529;
        }
    }

    &__desc {
        color: #009529;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;

        @media (min-width: 992px) {
            font-size: 28px;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (min-width: 768px) {
            flex-wrap: nowrap;
        }
    }

    &__counter {
        height: 100%;
        background: rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 14px;
        color: #fff;
        padding: 10px 20px;
        width: 100%;

        @media (min-width: 768px) {
            width: 35%;
        }

        @media (min-width: 992px) {
            padding: 15px 30px;
        }

        &-number {
            opacity: 0;
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 6px;
            background: rgba(0, 0, 0, 0.75);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            padding: 0 30px;
            margin-top: 10px;
            position: relative;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;

            @media (min-width: 576px) {
                font-size: 28px;
                letter-spacing: 6px;
            }

            @media (min-width: 768px) {
                font-size: 34px;
                letter-spacing: 8px;
                width: initial;
                margin-left: auto;
                margin-right: auto;
            }

            @media (min-width: 992px) {
                font-size: 45px;
                letter-spacing: 10px;
            }

            @media (min-width: 1200px) {
                font-size: 65px;
                letter-spacing: 15px;
            }
        }

        &-text {
            font-size: 18px;
            text-transform: uppercase;
            line-height: 1;
            font-weight: 600;
        }

        &-count {
            margin-top: 15px;

            & span {
                font-size: 65px;
                font-weight: 700;
                background: rgba(0, 0, 0, 0.75);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                padding: 0 5px;
                margin-top: -5px;
                line-height: 1;
                height: 100%;
                display: inline-block;
                margin-right: 7px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__pretitle {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        color: #009529;
        border: 1px dashed #009529;
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 3px;
        width: 100%;
        margin-bottom: 15px;

        @media (min-width: 768px) {
            padding: 0 74px;
            width: initial;
            margin-bottom: 0;
        }

        @media (min-width: 992px) {
            font-size: 36px;
            padding: 0 20px;
        }

        @media (min-width: 1200px) {
            padding: 0 70px;
        }

        & b {
            font-weight: 700;
            color: #000;
            padding-left: 7px;
        }
    }

    &__row {
        border: 1px dashed #000;
        border-radius: 14px;
        padding: 15px 10px 15px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 768px) {
            padding: 15px 10px 15px 40px;
        }
    }

    &__row.vip--1 {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px !important;

        @media (min-width: 768px) {
            flex-wrap: nowrap;
            justify-content: space-between;
            margin-bottom: 35px !important;
        }
    }

    &__row.vip--2 {
        padding-left: 20px;
        height: auto;
        margin-bottom: 30px;
        flex-wrap: wrap;
        justify-content: center;

        @media (min-width: 576px) {
            flex-wrap: nowrap;
            height: 230px;
            justify-content: space-between;
        }

        @media (min-width: 768px) {
            height: 180px;
            padding-left: 30px;
        }
        
        @media (min-width: 992px) {
            height: 200px;
            padding-left: 80px;
            margin-bottom: 70px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;

        @media (min-width: 992px) {
            font-size: 20px;
            padding-left: 0;
            padding-right: 0;
        }

        &-wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__sub {
        background: #FFC400;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
        display: inline-flex;
        width: fit-content;
        padding: 8px 20px;
        transition: .3s;

        &:hover {
            background-color: #d6a400;
            color: #fff;
            text-decoration: none;
        }

        @media (min-width: 992px) {
            padding: 10px 30px;
        }
    }

    &__qr {

        & img {
            width: 130px;

            @media (min-width: 576px) {
                width: 150px;
            }
        }
    }

    &__share {
        width: 250px;
        margin-top: 15px;

        @media (min-width: 576px) {
            margin-top: 0;
        }

        @media (min-width: 768px) {
            margin-right: 35px;
        }

        @media (min-width: 992px) {
            width: initial;
        }
    }

    &__btn {
        font-weight: 400;
        font-size: 13px;
        color: #fff;
        padding: 6px 10px;
        background-color: #FE1D3D;
        box-shadow: 0px 4px 4px #FFFFFF;
        border-radius: 10px;
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: .3s;
        position: relative;

        &--small {
            box-shadow: none;
            font-size: 16px !important;
        }

        &.vip--3:after {
            color: #000;
            content: '3';
            top: calc(50% - 15px);
            left: -35px;

            @media (min-width: 576px) {
                content: "Шаг 3";
                top: calc(50% - 25px);
                left: -70px;
            }

            @media (min-width: 992px) {
                content: "Шаг 3";
                top: calc(50% - 45px);
                left: -120px;
            }
        }

        &:hover {
            background-color: #ce1731;
            color: #fff;
            text-decoration: none;
        }

        @media (min-width: 576px) {
            letter-spacing: 1px;
            font-size: 18px;
            font-size: 16px;
        }

        @media (min-width: 992px) {
            font-size: 24px;
            padding: 18px 25px;

        }
    }

    &__info {
        font-size: 16px;
        text-align: center;
        line-height: 1;

        @media (min-width: 992px) {
            font-size: 18px;
        }

        & b {
            font-weight: 700;
        }
    }
}

.transfer {

    &__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
        color: #084777;
        text-align: center;
        margin-bottom: 20px;

        @media (min-width: 576px) {
            font-size: 28px;
            margin-bottom: 30px;
        }

        @media (min-width: 992px) {
            font-size: 34px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;

        @media (min-width: 576px) {
            font-size: 20px;
        }

        @media (min-width: 992px) {
            font-size: 24px;
        }
    }

    &__table {
        background-color: #fff;
        width: 100%;
        min-width: 500px;

        &-wrap {
            margin-top: 30px;
            overflow-x: scroll;
            position: relative;
        }

        & th, & td {
            text-align: center;
            font-weight: 300;
            font-size: 16px;
            line-height: 1.2;
            color: #000;
            padding: 10px;
            border: 1px solid #000;

            @media (min-width: 576px) {
                font-size: 20px;
                padding: 15px;
            }
    
            @media (min-width: 992px) {
                font-size: 24px;
                padding: 40px 15px;
            }
        }

        & td {
            padding: 40px 15px;
            border: 1px solid #000;

            @media (min-width: 576px) {
                padding: 80px 15px;
            }
        }
    }
}

.footer {

    &__privacy {
        text-decoration: underline;
        font-size: 14px;
    }

    &__desc {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.2;

        @media (min-width: 992px) {
            font-size: 24px;
        }
    }

    &__wrap {
         
        & a {

            & img {
                height: 30px;

                @media (min-width: 768px) {
                    height: 53px;
                }
            }

            &:first-child {
                margin-right: 10px;

                @media (min-width: 1200px) {
                    margin-right: 40px;
                }
            }
        }
    }

    &__address {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        @media (min-width: 576px) {
            flex-wrap: nowrap;
        }
    }

    &__phone {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 2px;
        background-color: #FF0000;
        padding: 5px 10px;
        margin-bottom: 20px;
        transition: .3s;

        &:hover {
            background-color: #D71707;
        }

        @media (min-width: 576px) {
            margin-bottom: 0;
        }

        @media (min-width: 992px) {
            font-size: 26px;
            letter-spacing: 1px;
            padding: 8px 15px;
        }

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}

.popup {
    width: 300px;
    background-color: #fff;
    z-index: 4;
    padding: 15px;
    border-radius: 16px;
    position: fixed;
    display: none;
    top: 30px !important;
    left: calc(50% - 150px) !important;
    text-align: center;
    overflow-y: scroll;
    max-height: calc(100% - 60px);

    &__delete {
        margin-bottom: 10px;
        color: #ff0000;
        text-align: right;
        font-size: 25px;
        cursor: pointer;
    }

    &__line {
        margin-bottom: 20px;
        border-color: #FF0000;
    }

    &__add {
        color: #ff0000;
        font-weight: 700;
        margin-bottom: 20px;
        cursor: pointer;
        line-height: 1.2;
    }

    @media (min-width: 576px) {
        width: 480px;
        top: 50px !important;
        left: calc(50% - 240px) !important;
        max-height: calc(100% - 100px);
    }

    &__wrapper {
        border: 1px dashed #CFAE69;
        border-radius: 16px;     
        padding: 15px;   

        @media (min-width: 576px) {
            padding: 40px 30px;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 15px;
        line-height: 1.1;
        text-transform: uppercase;

        @media (min-width: 576px) {
            font-size: 30px;
            margin-bottom: 30px;
        }
    }

    & input[type="text"] {
        width: 100%;
        background: rgba(196, 196, 196, 0.15);
        border-radius: 10px;
        height: 40px;
        border: none;
        padding-left: 10px;
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 16px;
        color: #000;

        @media (min-width: 576px) {
            height: 46px;
            margin-bottom: 20px;
            font-size: 24px;
        }

        &::placeholder {
            color: #666;
            font-weight: 400;
            font-size: 16px;

            @media (min-width: 576px) {
                font-size: 24px;
            }
        }
    }

    & input[type="submit"] {
        cursor: pointer;
        border: none;
        background-color: #B79653;
        border-radius: 10px;
        height: 40px;
        width: 100%;
        color: #fff;
        font-weight: 300;
        font-size: 16px;
        line-height: 1;
        transition: .3s;

        @media (min-width: 576px) {
            width: 300px;
            height: 55px;
            font-size: 24px;
        }

        &:hover {
            background-color: #a08346;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
        margin-bottom: 15px;
        margin-top: 15px;

        @media (min-width: 576px) {
            font-size: 20px;
            margin-bottom: 30px;
        }
    }

    &__address {
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: 500;
        font-size: 14px;

        @media (min-width: 576px) {
            font-size: 20px;
        }
    }
}

#mask {
    position:fixed;
    left:0;
    top:0;
    z-index:3;
    width: 100vw;
    height: 100vh;
    background-color:#000;
    display:none;
    cursor: pointer;
}


/* для элемента input c type="checkbox" */
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  /* для элемента label, связанного с .custom-checkbox */
  .custom-checkbox+label {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-size: 12px;

    @media (min-width: 576px) {
        font-size: 16px;
    }
  }

  /* создание в label псевдоэлемента before со следующими стилями */
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  /* стили при наведении курсора на checkbox */
  .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #B79653;
  }

  /* стили для чекбокса, находящегося в состоянии checked */
  .custom-checkbox:checked+label::before {
    border-color: #B79653;
    background-color: #B79653;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

  .checkbox {
    margin-bottom: 1em;
    cursor: pointer;

    & a {
        color: #000;
        text-decoration: underline;
        padding-left: 18px;

        @media (min-width: 576px) {
            padding-left: 25px;
        }

        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
  }

  .select {
    position: relative;
    margin-bottom: 20px;
  }
  
  .selectWrapper {
    position: relative;
  }
  
  .selectCustom {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;

    @media (min-width: 576px) {
        width: 300px;
        height: 39px;
    }
  }
  
  .selectCustom-trigger {
    font-size: 16px;
    background-color: #EBD8B7 !important;
    border: 1px solid #EBD8B7;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 7px;
    transition: .3s;
  }
  
  .selectCustom-trigger::after {
    content: "▾";
    position: absolute;
    top: 0;
    line-height: 36px;
    right: 15px;
  }
  
  .selectCustom-trigger:hover {
    border-color: #B79653;
  }
  
  .selectCustom-options {
    position: absolute;
    top: 39px;
    left: 0;
    width: 100%;
    border: 1px solid #B79653;
    border-radius: 10px;
    background-color: #fff;
    z-index: 1;
    display: none;
  }
  
  .selectCustom.isActive .selectCustom-options {
    display: block;
  }
  
  .selectCustom-option {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
    transition: .3s;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .selectCustom-option:hover {
    background-color: #EBD8B7;
  }
  
  .selectCustom-option:not(:last-of-type)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0.8rem;
    width: calc(100% - 1.6rem);
    border-bottom: 1px solid #d3d3d3;
  }

.gift {
    &__title {
        font-size: 22px;
        font-weight: 900;
        line-height: 1.2;
        margin-bottom: 30px;
        text-transform: uppercase;
        margin-top: 10px;

        @media (min-width: 992px) {
            font-size: 36px;
            margin-bottom: 35px;
        }
    }

    &__text {
        font-size: 16px;
        margin-bottom: 30px;

        @media (min-width: 992px) {
            font-size: 22px;
            line-height: 1.1;
            margin-bottom: 50px;
        }

        & b {
            font-weight: 700;
        }
    }

    &__citys {
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
        list-style-type: none;

        @media (min-width: 992px) {
            margin-bottom: 50px;
        }

        & li {
            font-size: 14px;
            color: #009328;
            line-height: 1.2;
            margin-bottom: 5px;
            word-break: break-word;

            @media (min-width: 576px) {
                font-size: 18px;
            }

            @media (min-width: 992px) {
                font-size: 22px;
            }
        }
    }

    &__info {
        font-size: 18px;
        line-height: 1.2;  

        @media (min-width: 992px) {
            font-size: 22px;          
        }
    }

    &__img {
        position: absolute;
        right: -20px;
        width: 150px;
        top: 60px;

        @media (min-width: 576px) {
            width: 180px;
            top: 47px;
        }

        @media (min-width: 768px) {
            top: 70px;
            width: initial;
        }

        @media (min-width: 992px) {
            right: 40px;
        }

        @media (min-width: 1200px) {
            right: 100px;
        }
    }

    &__table {
        font-size: 14px;
        width: 100%;
        background-color: #fff;
        min-width: 460px;

        &-container {
            overflow-x: auto;
        }

        & th {
            background-color: #E5E5E5;
            font-weight: 700;
            border: 1px solid #828282;
            padding: 7px 10px;
            line-height: 1.2;
        }

        & td {
            border: 1px solid #828282;
            padding: 7px 10px;
            line-height: 1.2;
        }
    }
}

.step {
    margin-bottom: 30px;

    &__info {
        font-size: 14px;
        font-weight: 900;
        text-align: center;
        margin-top: 30px;
        line-height: 1;

        @media (min-width: 576px) {
            font-size: 18px;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        line-height: 1.2;

        @media (min-width: 768px) {
            font-size: 26px;
        }
    }

    &__wrap {
        background-color: #E6021F;
        color: #fff;
        padding: 50px 10px 30px 10px;
        position: relative;

        @media (min-width: 576px) {
            padding: 70px 10px 20px 10px;
            height: 170px;
        }

        @media (min-width: 768px) {
            padding: 90px 10px 20px 10px;
        }

        @media (min-width: 992px) {
            padding: 140px 10px 50px 10px;
            height: 250px;
        }
    }

    &__num {
        font-size: 35px;
        font-weight: 900;
        position: absolute;
        left: 25px;
        top: 15px;
        line-height: 1;

        @media (min-width: 576px) {
            font-size: 40px;
        }

        @media (min-width: 768px) {
            font-size: 60px;
            left: 15px;
        }

        @media (min-width: 992px) {
            font-size: 85px;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.1;
        text-align: center;

        @media (min-width: 992px) {
            font-size: 24px;
        }
    }

    &__img {
        margin-bottom: 10px;
        width: 100%;
        object-fit: contain;
        max-width: 347px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 576px) {
            height: 99px;
        }

        @media (min-width: 768px) {
            height: 139px;
        }

        @media (min-width: 992px) {
            height: 192px;
            margin-bottom: 30px;
        }
        
        @media (min-width: 1200px) {
            height: 230px;
        }
    }
}

.ask {
    line-height: 1.2;

    &--green {
        color: #009529;
        font-weight: 600;
    }

    &__title {
        font-size: 20px;
        color: #009529;
        text-align: center;
        font-weight: 700;

        @media (min-width: 768px) {
            font-size: 28px;
        }
    }
}

#js-new-person--2, #js-new-person--3, #js-new-person--4, #js-new-person--5 {
    display: none;
}

.speak {

    &__title {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 15px;
        line-height: 1.1;
        text-align: center;

        @media (min-width: 768px) {
            font-size: 26px;
            margin-bottom: 26px;
        }

        @media (min-width: 992px) {
            font-size: 36px;
        }
    }

    &__left {
        text-align: center;
        justify-content: center;

        & img {

        }

        & div {
            background-color: #FF0000;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            font-weight: 700;
            font-size: 16px;
            padding: 10px;
            color: #fff;
            margin-top: 15px;
            width: fit-content;
        }
    }

    &__text {

        & p {
            padding: 7px 10px;
            border: 2px dashed #FF0000;
            border-radius: 15px;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 15px;
            font-size: 16px;

            @media (min-width: 992px) {
                margin-bottom: 30px;
            }

            @media (min-width: 1200px) {
                font-size: 18px;
                padding: 10px 20px;
            }
        }

        & .vip__btn {
            display: block;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__right {
        display: flex;
        justify-content: center;

        & img {
            height: 160px;
            object-fit: cover;

            @media (min-width: 420px) {
                height: 190px;
            }
        }


        @media (min-width: 992px) {
            display: block;

            & img {
                height: initial;
            }
        }

        & a > img {
            margin-bottom: 8px;
            width: 100%;
            object-fit: cover;
        }

        & .speak__docs {
            display: flex;
            justify-content: space-between;

            & a {
                font-size: 0;
                width: 50%;

                & img {
                    font-size: 0;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.warn {

    &__title {
        font-weight: 700;
        font-size: 22px;
        color: red;
        line-height: 1.2;
        margin-bottom: 20px;
        text-transform: uppercase;
        text-align: center;

        @media (min-width: 768px) {
            font-size: 28px;
        }

        @media (min-width: 992px) {
            font-size: 36px;
        }
    }

    &__desc {
        font-size: 16px;
        line-height: 1.1;
        margin-bottom: 40px;
        text-align: center;
        color: red;
        font-weight: 700;

        @media (min-width: 992px) {
            font-size: 24px;
        }
    }

    &__btn {
        margin-top: 30px;
    }

    &__text {
        border: 1px dashed #FF0000;
        font-size: 16px;
        line-height: 1.2;
        padding: 15px;
        border-radius: 14px;

        @media (min-width: 768px) {
            font-size: 18px;
            padding: 20px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 100px;

        @media (min-width: 576px) {
            max-width: 150px;
        }
    }
}

.def {

    &__title {
        color: #009529;
        text-align: center;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 30px;
        line-height: 1.2;
        
        @media (min-width: 992px) {
            font-size: 32px;
            margin-bottom: 50px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.2;

        @media (min-width: 992px) {
            font-size: 22px;
        }
    }

    &__btn {
        color: #fff;
        height: 30px;
        box-shadow: 0px 4px 4px #FFFFFF;
        border-radius: 10px;
        border: none;
        font-size: 14px;
        padding: 0 30px;
        cursor: pointer;
        transition: .3s;
        outline: none !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        &:hover {
            opacity: .85;
            color: #fff;
            text-decoration: none;
        }

        &--green {
            background-color: #009529;
        }

        &--red {
            background-color: #F43B45;
        }
    }

    &__img {
        max-width: 200px;
        width: 100%;
    }
}

.ask {

    & span {
        color: #009529;
    }
}

.rules {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    @media (min-width: 1200px) {
        flex-wrap: nowrap;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        color: #fff;
        margin-bottom: 25px;
        text-align: center;

        @media (min-width: 992px) {
            font-size: 24px;
            margin-bottom: 40px;
        }
    }

    &__item {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
        width: 50%;
        margin-bottom: 30px;

        @media (min-width: 576px) {
            width: 33.3333%;
        }

        @media (min-width: 1200px) {
            min-width: 13.3333%;
            max-width: initial;
            margin-bottom: 0;
        }

        &--big {
            order: 2;

            @media (min-width: 1200px) {
                width: 100%;
                order: initial;
            }
        }

        &-img {
            margin-bottom: 15px;
            width: 75px;
            height: 75px;
            text-align: center;

            @media (min-width: 1200px) {
                margin-bottom: 30px;        
            }

            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-text {
            font-weight: 700;
            font-size: 15px;
            color: #fff;
            text-align: center;
        }
    }
}

.ruleso {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    @media (min-width: 1200px) {
        flex-wrap: nowrap;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        color: #000;
        margin-bottom: 15px;
        text-align: center;
        line-height: 1.1;

        @media (min-width: 992px) {
            font-size: 24px;
            margin-bottom: 30px;
        }
    }

    &__desc {
        font-size: 18px;
        margin-bottom: 30px;
    }

    &__item {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        width: 100%;
        margin-bottom: 30px;

        @media (min-width: 576px) {
            width: 33.3333%;
        }

        @media (min-width: 992px) {
            width: 20%;
        }

        &-img {
            margin-bottom: 7px;
            width: 105px;
            height: 105px;
            text-align: center;

            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-text {
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            margin-bottom: 15px;
            line-height: 1;

            @media (min-width: 768px) {
                height: 64px;
            }

            @media (min-width: 992px) {
                height: 96px;
            }

            @media (min-width: 1200px) {
                height: 64px;
            }
        }

        &-desc {
            font-size: 14px;
            line-height: 1;
            text-align: center;
        }
    }
}

.star {

    &__war {
        padding: 15px;
        background-color: #fff;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        @media (min-width: 576px) {
            flex-wrap: nowrap;
            justify-content: flex-start;
        }

        &-text {
            font-size: 16px;
            color: #E6021F;
            font-weight: 700;
            line-height: 1;
            text-align: center;

            @media (min-width: 576px) {
                text-align: left;
            }

            @media (min-width: 992px) {
                font-size: 32px;
            }
        }

        & img {
            width: 60px;
            height: 60px;
            object-fit: contain;
            margin-right: 10px;

            @media (min-width: 768px) {
                width: 110px;
                height: 110px;
                margin-right: 30px;
            }
        }
    }

    &__t {
        font-weight: 700;
        line-height: 1;
        font-size: 18px;

        @media (min-width: 992px) {
            font-size: 22px;
        }
    }

    &__title {
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.1;
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;

        @media (min-width: 992px) {
            margin-top: 30px;
            margin-bottom: 0;
        }

        @media (min-width: 992px) {
            font-size: 32px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__text {
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.1;

        @media (min-width: 992px) {
            font-size: 22px;
        }
        & span {
            color: green;
        }
    }

    &__schema {
        margin: 15px 0;

        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            cursor: pointer;
        }
    }
}

.till {
    width: 100%;
    height: 100%;
    margin-top: 25px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.mod {
    width: 300px !important;
    padding: 15px !important; 

    @media (min-width: 768px) {
        width: 600px !important;
        padding: 44px !important;
    }

    & h2 {
        color: #FF0000;
        text-align: center;
        line-height: 1.1;
        margin-bottom: 15px;
        font-size: 22px;

        @media (min-width: 768px) {
            font-size: 32px;
        }
    }
}

.translate {
    width: 100%;
    height: 250px;

    @media (min-width: 576px) {
        height: 350px;
    }

    @media (min-width: 768px) {
        height: 500px;
    }

    @media (min-width: 992px) {
        height: 600px;
    }

    @media (min-width: 1200px) {
        height: 700px;
    }

    &__title {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 30px;

        @media (min-width: 992px) {
            font-size: 32px;
        }
    }

    &__button {
        font-weight: 700;
    }
}

#translate1 {
    width: 90%;
    height: 90%;
}

